@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import "utilities/_variables.scss";
@import "utilities/_mixins.scss";

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.main__wrapper {
  min-height: 100vh;
  position: relative;
}

/*HEADER SECTION*/

.main__header {
  background-color: $mainBlack;
  background-image: url("../images/Header\ Background.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30px;
  .main__nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    li {
      padding: 0 5%;
    }

    .icon {
      color: $primary;
      font-size: 20px;
    }
  }
  .nav ul {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      list-style: none;
    }

    li a {
      padding: 0.5em 0.2em;
      color: $white-night;
      text-decoration: none;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    a:hover {
      background-color: $mainGrey;
      color: $nice-red;
    }
  }
  // CART VALUE/LENGTH
  .cart__link {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    .cart__value__container {
      width: 100%;
      padding: 5px;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      .fa-shopping-cart {
        color: $nice-red;
        font-size: 25px;
      }
      #cart__count {
        padding: 3px 3px;
        font-weight: bold;
        color: $primary;
        position: absolute;
        margin-top: -5px;
        margin-left: 5px;
      }
    }
  }
}

// GLOBAL
.shop__name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Poppins", san serif;
  font-weight: normal;
  color: $white-night;
  text-transform: capitalize;
}

.shop__name__large {
  font-size: 12vw;
}
// UNDERLINES
// navbar links
.underline__nav_items {
  @include underline(100%, 2px, $mainGrey);
}
//product sections
.underline__section__header {
  @include underline(12rem, 5px, $mainGrey, 5px);
}
//footer
.underline__shop__name {
  @include underline(17rem, 7px, $nice-red, 5px);
}

/*MAIN SECTION*/
.content__section {
  margin: 1em;
}

.container {
  max-width: 1170px;
  margin: 2rem auto;
  padding: 0 1.5em;
  color: $mainBlack;
}
.section__header {
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 3.3rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}
/*BUTTONS*/

.btn-primary {
  @include base-button(auto, 2px, $nice-blue, $nice-red);
}
.btn-secondary {
  @include base-button(auto, 2px, $nice-yellow, $nice-green);
}

.btn-tertiary {
  @include base-button(50%, 2px, $mainGrey, $nice-purple);
  font-size: 1.2em;
}

/*ITEMS DISPLAY*/
.shop__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop__items {
  background-color: $white-night;
  @include grid(repeat(auto-fill, minmax(350px, 1fr)), auto, 20px);
  //grid-template-columns: repeat(auto-fill, 350px);

  .shop__item {
    @include shop-item(auto);

    .shop__item__title {
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 15px;
      text-transform: capitalize;
    }

    .shop__item__image {
      width: 100%;
      height: auto;
      cursor: pointer;
    }

    .shop__item__details {
      display: flex;
      align-items: center;
      padding: 5px;
    }

    .shop__item__price {
      flex-grow: 1;
      font-weight: 800;
    }
  }
}
//CART SECTION
.cart__header {
  font-weight: bold;
  font-size: 1.25em;
}

.cart__column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $mainBlack;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart__row {
  display: flex;
}

.cart__item {
  width: 45%;
}

.cart__price {
  width: 20%;
  font-size: 1.2em;
}

.cart__quantity {
  width: 35%;
}

.cart__item__title {
  margin-left: 0.5em;
  font-size: clamp(0.5em, 1em, 1.2em);
  text-overflow: ellipsis;
}

.cart__item__image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  @include base-button(auto, 0.3em, $nice-red, $nice-blue);
}

.btn-danger:hover {
  opacity: 0.85;
}
.cart__item__count {
  font-weight: 700;
}

#cart__item__change {
  height: 33px;
  width: 50px;
  padding-right: 3px;
  background-color: $primary;
  border-radius: 5px;
  margin: 0 5px;
  &:focus {
    outline: none;
    border: 1px solid $nice-green;
  }
}

.cart__row:last-child {
  border-bottom: 1px solid $mainBlack;
}

.cart__row:last-child .cart__column {
  border: none;
}
.cart__pay__clear__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  & button {
    width: auto;
    padding: 15px;
  }
}
.cart__total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart__total__title {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 20px;
}
.total__underline {
  @include underline(50px, 2px, $nice-red);
}

.cart__total__price {
  font-size: 1.1em;
  font-weight: bolder;
}

// SUCCESS MESSAGE
.success__message {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  @include media-box();
  h3,
  p {
    color: $mainBlack;
    padding: 5px;
  }
  h3 {
    font-size: 22px;
    font-weight: 800;
  }
}

//FOOTER SECTION
.main__footer {
  width: 100%;
  background-color: $nice-blue;
  color: $primary;
  padding: 0.25em 0;
  bottom: 0;

  .main__footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    text-align: end;
    ul {
      display: flex;

      li {
        padding: 0 0.5em;
        list-style: none;
      }
    }
    .icon {
      color: $nice-blue;
      background-color: $nice-red;
      transition: $mainTransition;
      border-radius: 50%/20%;
      padding: 3px;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
}

.form__container {
  padding: 20px 5px;
  text-align: center;
  @include media-box();

  input {
    width: 80%;
    margin: 5px;
    padding: 10px 0;
    border: none;
    outline: none;
    &::placeholder {
      letter-spacing: 2px;
      padding-left: 5px;
    }
    &:focus {
      border: 2px, solid, $nice-green;
      //@include border(2px, solid, $nice-green);
    }
  }

  button {
    margin-top: 20px;
    font-size: 18px;
    @include base-button(80%, 2px, $nice-blue, $nice-yellow);
  }
}
